body {
	position: relative;
	font-family: 'Arimo', sans-serif;
	color:#7a7a7a; 
}
.coursive { font-family: 'Alex Brush', cursive; color:#513321}

h2.coursive { font-size:3.4em }


.navbar { background: rgba(255,255,255,.9); border-bottom: 0; overflow: hidden }

.navbar {
	-webkit-transition: .5s padding;
	-moz-transition: .5s padding;
	-o-transition: .5s padding;
	transition: .5s padding;
}
.navbar a {
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;
}

.navbar.on-top { padding:20px 0 15px 0 }

.navbar-nav>li>a { 
	color:#513321; 
	padding-top:22px; 
	padding-bottom:22px; 
	text-transform: uppercase;
	font-weight: 800;
	font-size:12px;
}
.navbar-nav>li>a.btn{
    padding: 5px 10px 5px 10px;
    margin: 14px 10px 0 15px;
	background: transparent;
	border:2px solid #629c44;
	color:#629c44 !important
}

.navbar-nav>li>a.btn:hover,
.navbar-nav>li>a.btn:active,
.navbar-nav>li.active>a.btn{
	background: #629c44;
	color:#fff !important
}


.navbar-nav>li>a:focus { background: none; }

.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li.active>a { background: none; color:#629c44}

.navbar .navbar-brand { padding:0 }


.navbar.on-top .navbar-brand img {
	left:0;
}

.navbar:not(.on-top) .navbar-brand {
	/*margin-left:-164px;*/
	margin-top:5px
}
.navbar .navbar-brand img { 
	max-height: 80px
}



.btn-primary { 
	background: #629c44;
	border-color:#629c44;
	color: #fff !important
}


#main-gallery { 
	top:100px;
	min-height: 600px; 
	text-align: center;
	margin:0;
	padding:0;
	margin-bottom:50px;
}

#main-gallery .main-title {
	font-size:5em;
	padding-top:60px;
	margin:0
}
#main-gallery img {
	position: absolute; 
	bottom:0;
	height:70%;
	left:50%;
}




.backstretch { opacity:.5 !important }




.mixed-content {
	padding:60px 0;
	border-bottom: 2px solid #e8f1e7;
}

.mixed-content.mixed-highlight {
	background: #fbfff7; 
}



.highlight-head {
	background: #629c44;
	text-align: center;
	color:#fff;
	font-family:'Alex Brush', cursive;
	padding:14px 0
}

.highlight-box {
	border: 2px solid #629c44;
}

.highlight-content {
		padding:10px 22px 15px 22px
}

.highlight-content ul, 
.green ul {
	margin:0;
	padding:0;
	list-style: none;
	padding-bottom:22px;
}

.highlight-content ul li {
	padding:8px 0 
}

.highlight-content ul li .fa {
	color:#629c44;
	margin-right:6px;
}

.highlight-box {
	background: #fff
}
.highlight-content .price,
.highlight-content .price-off {
	font-size:3em;
	font-weight: bold;
}
.highlight-content .price-off{
	color:#ff8351;
	text-decoration: line-through;
	font-weight: normal;
	margin-right:12px
}

.highlight-box a { 
	text-align: center;
	margin: auto;
	display: block;
	color:#629c44;
	font-size:12px;
	font-weight: bold;
}



.owl-carousel img { max-height: 420px; width: auto !important; margin:auto; display:inline-block}


.owl-carousel:not(.owl-places) .owl-wrapper {
  display: table !important;
}
.owl-carousel:not(.owl-places) .owl-item {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.owl-carousel .owl-nav .owl-prev { float:left; }
.owl-carousel .owl-nav .owl-next { float:right; }
.owl-carousel .owl-dots { padding-top:18px} 

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover
{ background: none; font-size:28px; color:#513321; opacity:.5 }

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover { opacity: .8}

.owl-carousel .owl-dots .owl-dot span { background: #513321; opacity:.5 }
.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span { background: #513321; opacity:.8 }

#map, #map-mobile { width: 100%; height: 420px; border: 5px solid #fff; box-shadow: 0 0 6px #bbb}




.form-control { 
	box-shadow: 0 0 4px #629c44;
	margin-bottom:12px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	font-style: italic
}
::-moz-placeholder { /* Firefox 19+ */
  	font-style: italic
}
:-ms-input-placeholder { /* IE 10+ */
  	font-style: italic
}
:-moz-placeholder { /* Firefox 18- */
	font-style: italic
}

form .btn-lg {  font-size: 14px; font-weight: bold; margin:20px 0}


.place { border:1px solid #d6cfcb; }
.place .content { padding-right: 30px}





.localize { 
	padding: 20px 0;
	line-height: 1.8
}
.localize .fa { 
	color:#629c44;
	font-size:22px;
	width:32px;
}


.green h5 { font-weight: bolder}

.green, .green * { color:#629c44 }
.brown, .brown * { color:#513321 }

.green a:hover { text-decoration: none; color:#513321 }
.green a .fa { font-size:24px; width:26px}
.green ul li { padding:5px 0 5px 5px  }




footer p { font-size:11px; }




.navbar-toggle { background: #ccc !important }
.navbar-toggle .icon-bar { background: #fff }


.highlight-box { margin-bottom:20px }


@media screen and (max-width:992px) {
	
	.navbar { background: #fff }
	
	.navbar-nav>li>a { text-align: center }
	
	#main-gallery h1.main-title { line-height: 32px; font-size:3em; }
	
	.place .content { padding-left:30px; margin-left:0 }
}

@media screen and (max-width:768px) {
	.place .content { padding-left:15px; margin-left:0 }
	.navbar-nav>li>a { padding-top:10px; padding-bottom:10px }
	
	h2.coursive { text-align: center }
}

.navbar-collapse.in {
    overflow: hidden;
    max-height: none !important;
    height: auto !important;
}




.response .error {
	color:#c10;
	font-size:12px;
	text-align: center
}


.response .success {
	color:green;
	font-size:12px;
	text-align: center
}



/* cookie law */ 

#cookie-bar a {
  background-color: #303030;
  border: 1px solid rgba(0,0,0,.1);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  line-height: 19px;
  padding: 4px 8px;
  text-decoration: none;
  white-space: nowrap;
}

#cookie-bar {
	position: fixed; 
	bottom:0; width:100%;  padding:15px; text-align:center;
	background-color: #5a5a5a;
	color: #fff;
	font-weight: bold;
	position: fixed;
	width: 100%;
	z-index: 999;
}