* { margin:0; padding:0; font-family:'Lato', sans-serif }

body { background: #fff;  }

#background { position: relative }
.backstretch { height: 100% !important }

.courtesy-line { padding:80px 0; background: rgba(0,0,0,.5) }

h1 { font-family:'Lato', sans-serif; color:#2dbcfe; font-size:46px; line-height: 60px; }

h2 { line-height: 1.4; }

.courtesy-line h1,
.courtesy-line p,
.courtesy-line label { color:#fff; font-family:'Lato', sans-serif; }


label.checkbox { padding-left:20px}

.form-control { margin-bottom: 6px; border-radius:0; font-size:18px; padding:10px 16px 10px 16px !important; height:auto; }


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ccc !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc  !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc  !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ccc !important;
}


.navbar-default { background: #fff; height: 155px; margin-bottom:0}


.btn-primary { background: #2dbcfe; border-radius:0; border-color:#2dbcfe; border:none }
.btn-primary:hover {background: #909090; border-color:#909090; }



.featured-grid { margin:40px 0; }
.featured-grid-item { margin:40px 0 }
.featured-grid-icon-wp { height: 140px; }
.featured-grid-icon { max-width:140px; max-height: 140px; margin: 10px auto 40px auto;  }

.featured-grid-item:hover .featured-grid-icon { transform:scale(1.1) }
.featured-grid-item:hover h3 { color:#2dbcfe }

.featured-grid-item p, .featured-grid-item h3 { color:#909090 }

.featured-grid-item * {
	-webkit-transition: .2s all;
	-moz-transition: .2s all;
	-o-transition: .2s all;
	transition: .2s all;
}



.form-control { border:none}



footer.footer { padding:30px 0 10px 0; text-align:center; background: #e6e6e6 }
.social-link { color:#555; }
.social-link:hover {color:#212121}


.popover { max-width: 380px}
.popover * { color:#212121 !important }
.popover a { color:#2dbcfe !important }



.error,
.success,
.warning { position: fixed; top:0px; left:0; width:100%; color:#fff; text-align: center }

.error { background: #c10; }
.success { background: #62a60a }
.warning { background: #FF7E00 }

.error p,
.success p,
.warning p { padding:30px 20px 20px 20px; }




.progress-bar, .btn-primary {
	-webkit-transition:3s background;
	-moz-transition:3s background;
	-o-transition:3s background;
	transition:3s background;
}





@media screen and (min-width:1600px) {
	.abstract h3{ font-size:32px}
}